@reference "../../../app/globals.css";

.hero-container {
    @apply w-screen h-screen relative z-0;

    & > .hero-background {
        @apply bg-black w-screen h-screen flex justify-center items-center absolute z-0;
        mask-image: url("/homepage-hero-mask.png");
        mask-mode: luminance;
        mask-size: cover;

        & > .custom-cursor {
            @apply invisible w-4xl h-[2400px] absolute -z-10;

            transform: rotate(30deg);

            background: linear-gradient(90deg, black 0%, var(--color-primary) 30%, var(--color-primary) 50%, black 80%);
        }
    }

    & > .hero-content {
        @apply invisible w-screen h-screen flex flex-col justify-center items-center absolute z-10;

        & h1, h2 {
            @apply text-white;
        }

        & h1 {
            @apply text-8xl tracking-wider;
        }

        & h2 {
            @apply text-4xl;
        }
    }
}